<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
</head>

<body>
    <form method="POST" action="#">
        <figure class="text-center">
            <blockquote class="blockquote">
                <p class="fw-bold fs-1">場域設定</p>
            </blockquote>
        </figure>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" value="西門町" placeholder="ex: 西門町">
            <label for="floatingInput">場域名稱</label>
        </div>

        <div class="form-floating mb-3">
            <input type="url" class="form-control" id="floatingInput"
                value="https://www.youtube.com/watch?v=gykgrFc_vVI"
                placeholder="ex: https://www.youtube.com/watch?v=gykgrFc_vVI">
            <label for="floatingInput">場域網址</label>
        </div>
    </form>
</body>

</html>