<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
            crossorigin="anonymous"></script>
</head>

<body>
<figure class="text-center">
    <blockquote class="blockquote">
        <p class="fw-bold fs-1">報表系統</p>
    </blockquote>
</figure>

<div class="form-floating">
    <select id="site" class="form-select" name="siteName" aria-label="Floating label select example">
        <option value="AllSite">All</option>
        <option selected value="aaaSite">aaa</option>
        <option value="bbbSite">bbb</option>
        <option value="cccSite">ccc</option>
    </select>
    <label for="site">場域</label>
</div>
<div style="text-align:center">
    <img src="chart.jpg" alt="chart" width="100%"><br><br>
</div>
</body>

</html>